.product{
    display: flex;
    background-color: snow;
    margin: 15px;
    border-radius: 15px;
    min-height: 85vh;
    padding: 15px;
}
.product>section{
    width: 50%;
    gap: 15px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 60%;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.data h1,.data h2{
    font-size: 2em;
    
}
.data p{
    font-size: 1.5em;
}
.data div div{
    display: flex;
    gap: 15px;
}
.data button{
    width: 50%;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.data button:hover{
    background-color: rgb(43, 43, 43);
}
@media screen and (max-width: 700px) {
    .product{
        flex-direction: column;
        gap: 15px;
    }
    .product>section{
        width: 100%;
    }
  }